
/*btn de volver*/
.adminUsuariosHeader {
    margin-bottom: 20px;
}

.tituloConBoton {
    display: flex;
    align-items: center;
    gap: 15px;
}

.adminUsuariosTitulo {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.btnVolver {
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    background: #2d2d42;
}

.btnVolver:hover {
    background: #3b3b57;
    transform: scale(1.05);
}
